*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $fontPrimary;
  font-size: 18px;
}

button,
input,
select,
textarea,
a {
  font-family: inherit;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.btn-get-started {
  padding: 20px 50px;
  border: none;
  border-radius: 16px;
  background-color: $orange;
  font-size: 18px;
  font-weight: 600;
  color: $white;
  cursor: pointer;
}
