*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $fontPrimary;
  font-size: 18px;
}

button,
input,
select,
textarea,
a {
  font-family: inherit;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.btn-get-started {
  padding: 20px 50px;
  border: none;
  border-radius: 16px;
  background-color: $orange;
  font-size: 18px;
  font-weight: 600;
  color: $white;
  cursor: pointer;
}

.btn-outlined {
  padding: 19px 22px;
  font-size: 18px;
  font-weight: 400;
  color: $blueSecondary;
  background-color: transparent;
  border: 1px solid $blueSecondary;
  cursor: pointer;
  border-radius: 12px;
}

.logo {
  display: flex;
  align-items: center;
  font-family: $fontLogo;
  gap: 5px;

  span {
    width: 38px;
    height: 38px;
    background-color: $orange;
    font-size: 28px;
    font-weight: 900;
    color: $white;
    border-radius: 50%;
    text-align: center;
  }

  h2 {
    color: $blueDarkLogo;
    font-size: 24px;
    font-weight: 700;
  }
}
