@import url("https://fonts.googleapis.com/css2?family=Exo:wght@700&family=Inter:wght@400;500;600;700&family=Roboto&display=swap");

// Fuente
$fontLogo: "Exo", sans-serif;
$fontPrimary: "Inter", sans-serif;
$fontSecondary: "Roboto", sans-serif;

// Color
$blueDarkLogo: #0f1130;
$blueDark: #101130;
$bluePrimary: #2378ff;
$blueSecondary: #2076ff;
$blueSecondaryLight: #edf3ff;
$blueLight: #e8f1ff;
$blueGrey: #606176;

$gradish-btn: #fef4f1;

$green: #d2f1e1;

$cream: #ffd2b3;

$black-score: #010101;

$gradish-text: #424242;

$orange: #f77e53;
$orangeLight: #fee6dc;

$yellow: #f6c07a;
$yellowLight: #fef0c3;

$black: #030303;
$white: #fff;

$white-celesteshion: #f6f5fa;
