.schoolstats__container {
  padding: 0px 135px;
  display: flex;
  gap: 135px;
  margin-bottom: 130px;

  .schoolstats__left {
    width: 40%;
    background-image: url("/src/assets/images/photo-schoolstats.png");
    background-size: cover;
    background-position: center center;
  }

  .schoolstats__right {
    width: 60%;
    h2 {
      font-size: 44px;
      font-weight: 700;
      color: $blueDark;
      max-width: 460px;
      margin-bottom: 60px;
    }
    .schoolstats__stats {
      display: grid;
      column-gap: 82px;
      grid-template-columns: repeat(1, 1fr);
      row-gap: 45px;

      /* Cuando la pantalla es como minimo 1000px (Pantalla>1000px)*/
      @media (min-width: 1000px) {
        grid-template-columns: repeat(2, 1fr);
      }

      /* Cuando la pantalla es como minimo 1200px (Pantalla>1200px)*/
      @media (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
      }

      .stats__item {
        .stats__item__img {
          width: 72px;
          height: 72px;
          background-color: $green;
          display: grid;
          place-items: center;
          border-radius: 16px;
          margin-bottom: 26px;
          img {
            width: 50%;
            height: 50%;
          }
        }
        h3 {
          font-size: 20px;
          font-weight: 600;
          color: $blueDark;
          margin-bottom: 18px;
        }
        p {
          font-size: 18px;
          font-weight: 400;
          color: $blueGrey;
          line-height: 30px;
        }
      }
    }
  }
}
