.universities__container {
  margin-top: 125px;
  padding: 0 135px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 45px;
  margin-bottom: 130px;

  .universities__cant {
    width: 20%;
    h2 {
      font-size: 62px;
      margin-bottom: 20px;
      color: $blueDark;
    }
    p {
      font-size: 20px;
      font-weight: 400;
      color: $blueGrey;
    }
  }

  .universities__img {
    width: 180px;
    img {
      width: 100%;
      display: block;
    }
  }
}
